/* *{
    font-family: courier;
   
}
h1{
    color: #1b74e4;
}

#searchbtn{
    background-color: black;
    color: white;
} */
/* .myclass{
    background-color: aqua;
} */
/* #login, #register{
    background-color: aqua;
} */

/*Assignment Qns CSS Level 2 */
#mainTopic{
    color: blue;
}
*{
    text-align: center;
}
h1,h3,h5{
    font-style: Georgia;
}

.content{
    background-color: cornflowerblue;
    color: white;
}
div button{
    background-color: purple;
    color: azure;
}

div button:hover{
    background-color: yellow;
    color: blue;


}
div input:checked{
    background-color: yellow;

}

p:nth-of-type(2n+1){
    color: green;
}

h1::first-letter{
    color: red;
}

#yes:checked+label{
    color: green;
}

