body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;

}

.main {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #000;
    width: 350px;
    border-radius: 1rem;  /* 1rem = 16px */
  
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;
}

a{
    text-decoration: none;
    color: #fff;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option{
    line-height: 2.5rem; /* 2.5rem = 40px */
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
    
}

.nav-option i{
    font-size: 1.25rem; /* 1.25rem = 20px */
}

.nav-option a{
    font-size: 1rem; /* 1rem = 16px */
    margin-left: 1rem;
}
.nav-option:hover{
    /* color: #1DB954;
    cursor: pointer; */
    opacity: 1;
}